/* Оптимизировано под мое разрешение экрана 1920х1080 */
/* Но по идее должно масштабироваться и на меньшее */
.header {
    height: 100vh;
    background: url("../images/bimage.png") no-repeat center/cover;
    display: flex;
    justify-content: space-evenly;
}

.wrapper {
    width: 70%;
    height: 70px;
    margin: 50px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block__logo {
}

.navigate__bar {
    display: flex;
    height: 70px;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 20px;
}

.nav__item a {
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.frame__info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.phone__block {
    display: flex;
    column-gap: 10px;
}

.phone__number {
    border-left: 20px;
    height: 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.info__block {
    height: 20px;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-align: justify;
}

.nav__order {
    height: 40px;
    width: 160px;
    background: #FF7400;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav__order a {
    padding-top: 15px;
    padding-left: 20px;
    height: 30px;
    width: 160px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.nav__menu {
    margin-top: 2vh;
    height: 40px;
    width: 160px;
    background: #FF7400;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav__menu a {
    height: 4%;
    width: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.line__1 {
    height: 70px;
    border-left: 2px solid white;
}

.text__main_block {
    width: 30%;
    height: 40%;
    position: absolute;
    top: 30%;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text__main_block_mobile {
    left: 10%;
    width: 70%;
    height: 40%;
    position: absolute;
    display: none;
    flex-direction: column;
}

.text__welcome {
    height: 5%;
    width: 100%;
    font-size: 2.8vw;
    text-decoration: none;
    color: #D67E35;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__restaurant {
    height: 6%;
    width: 100%;
    font-size: 3.8vw;
    text-decoration: none;
    color: #D67E35;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__home {
    height: 4%;
    width: 100%;
    font-size: 1vw;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__1 {
    position: absolute;
    width: 18%;
    height: 35%;
    left: 16%;
    top: 90%;
    background: #FFFFFF;
    box-shadow: 20px 20px 40px 20px rgba(0, 0, 0, 0.2);
}

.intro__2 {
    position: absolute;
    width: 18%;
    height: 35%;
    left: 40%;
    top: 90%;
    background: #FFFFFF;
    box-shadow: 20px 20px 40px 20px rgba(0, 0, 0, 0.2);
}

.intro__3 {
    position: absolute;
    width: 18%;
    height: 35%;
    left: 64%;
    top: 90%;
    background: #FFFFFF;
    box-shadow: 20px 20px 40px 20px rgba(0, 0, 0, 0.2);
}

.header__2 {
    height: 100vh;
    display: flex;
    width: 100%;
}

.intro__image {
    margin: 1vw 0 0 6.5vw;
}

.intro__text_1 {
    margin-left: 0;
    font-size: 1.3vw;
    color: #2C2C2C;
    text-align: center;
}

.intro__text_1 span {
    color: #D67E35;
}

.intro__text_2 {
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    font-size: 1.3vw;
    color: #656363;
    text-align: center;
}

.nav__btn_mobile {
    position: absolute;
    right: 30px;
    top: 30px;
    display: none;
    width: 35px;
    flex-direction: column;
    row-gap: 6px;
}

.nav__btn_mobile div {
    height: 2px;
    background: #FF7400;
    border-radius: 50px;
}