/* Урок 4 - Оптимизация - файл стилей для нескольких страниц */

/* Горизонтальный flex блок с центрированием содержимого */
.block_center {
    justify-content: center;
    align-items: center;
}

/* Вертикальный flex блок */
.flex_vertical {
    flex-direction: column;
}

/* Список flex блоков */
.block_center, .flex_vertical {
    display: flex;
}
